


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Nombre: {{ personaje.Nombre }}</h5>
        <br />
        <p class="card-text">Raza: {{ personaje.Raza }}</p>
        <p class="card-text">Planeta de origen: {{ personaje.Planeta_Origen }}</p>
        <p class="card-text">Trilogia: {{ personaje.Trilogia }}</p>
        <p class="card-text">Género: {{ personaje.Genero }}</p>
        <p class="card-text">Intérprete: {{ personaje.Interprete }}</p>
    </div>
</div>